flows (2).json
[
    {
        "id": "a4f122c1.57f99",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79ee283d.f3b4a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4f891483.f8e0cc",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "f80c61f9.c29b1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f80c61f9.c29b1",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82d9af48.f8c1f",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "6d56fce5.9198d4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6d56fce5.9198d4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d46650d0.3a468",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "81adc8bd.b93de8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "81adc8bd.b93de8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cd48dc53.58abe",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "5956df9b.c00c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5956df9b.c00c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e72132df.cc128",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5dfa9dde.2ae064",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "ca65d736.7a3aa8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca65d736.7a3aa8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9b93ab46.95af68",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "fadb514a.dc636",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fadb514a.dc636",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71a9155b.687f2c",
        "type": "function",
        "z": "79ee283d.f3b4a8",
        "name": "PreToken",
        "func": "global.set(\"di\",msg.payload.di)\nglobal.set(\"fcv\",msg.payload.fcv)\nglobal.set(\"fev1\",msg.payload.fev1)\nglobal.set(\"per\",msg.payload.per)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"dy\",msg.payload.dy)\nglobal.set(\"cou\",msg.payload.cou)\nglobal.set(\"wn\",msg.payload.wn)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"mi6\",msg.payload.mi6)\nglobal.set(\"pad\",msg.payload.pad)\nglobal.set(\"smk\",msg.payload.sml)\nglobal.set(\"ast\",msg.payload.ast)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"oSfNBkDlW1fgH_JDFSrNaR5csINAbg-7N9Pj-8cuSEmQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 480,
        "wires": [
            [
                "5dc348ab.ab2098"
            ]
        ]
    },
    {
        "id": "5dc348ab.ab2098",
        "type": "http request",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 699,
        "y": 468.9999952316284,
        "wires": [
            [
                "b33ef5d0.df4468"
            ]
        ]
    },
    {
        "id": "d7ce33f7.71221",
        "type": "inject",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 345.5,
        "y": 393.99999809265137,
        "wires": [
            [
                "71a9155b.687f2c"
            ]
        ]
    },
    {
        "id": "8cb9aa0d.dc6f18",
        "type": "debug",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1138.0000114440918,
        "y": 210.99999713897705,
        "wires": []
    },
    {
        "id": "b33ef5d0.df4468",
        "type": "function",
        "z": "79ee283d.f3b4a8",
        "name": "Pre Prediction",
        "func": "var di = global.get('di')\nvar fcv = global.get('fcv')\nvar fev1 = global.get('fev1')\nvar per = global.get('per')\nvar pa = global.get('pa')\nvar he = global.get('he')\nvar dy = global.get('dy')\nvar cou = global.get('cou')\nvar wn = global.get('wn')\nvar ts = global.get('ts')\nvar dm = global.get('dm')\nvar mi6 = global.get('mi6')\nvar pad = global.get('pad')\nvar smk = global.get('smk')\nvar ast = global.get('ast')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"b3a411b6-1636-44d8-b539-7b3cebe85a79\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Diagnosis\", \"FVC\", \"FEV1\", \"Performance\", \"Pain\", \"Haemoptysis\", \"Dyspnoea\", \"Cough\", \"Weakness\", \"Tumor_Size\", \"Diabetes_Mellitus\", \"MI_6mo\", \"PAD\", \"Smoking\", \"Asthma\", \"Age\"], \"values\": [[di,fcv,fev1,per,pa,he,dy,cou,wn,ts,dm,mi6,pad,smk,ast,age]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 896.0000076293945,
        "y": 431.9999990463257,
        "wires": [
            [
                "c144c7fd.c5cac8"
            ]
        ]
    },
    {
        "id": "c144c7fd.c5cac8",
        "type": "http request",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v4/deployments/648f8df8-c7d5-4f10-b7a1-1dab0e48188b/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 989.5000076293945,
        "y": 375.9999990463257,
        "wires": [
            [
                "cbaa35e0.493668",
                "33a0a8d2.1bca38"
            ]
        ]
    },
    {
        "id": "ab0d5db3.439fc",
        "type": "ui_form",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "label": "",
        "group": "9b93ab46.95af68",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Diagnosis",
                "value": "di",
                "type": "multiline",
                "required": true,
                "rows": 3
            },
            {
                "label": "FCV",
                "value": "fcv",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "FEV1",
                "value": "fev1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Performance",
                "value": "per",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Pain",
                "value": "pa",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Haemoptysis",
                "value": "he",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Dyspnoea",
                "value": "dy",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Cough",
                "value": "cou",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Weakness",
                "value": "wn",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "TumorSize",
                "value": "ts",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "DiabetesMellitus",
                "value": "dm",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "MI_6mo",
                "value": "mi6",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "PAD",
                "value": "pad",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Somking",
                "value": "smk",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Asthma",
                "value": "ast",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "di": "",
            "fcv": "",
            "fev1": "",
            "per": "",
            "pa": "",
            "he": "",
            "dy": "",
            "cou": "",
            "wn": "",
            "ts": "",
            "dm": "",
            "mi6": "",
            "pad": "",
            "smk": "",
            "ast": "",
            "age": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 291,
        "y": 522.9999952316284,
        "wires": [
            [
                "71a9155b.687f2c"
            ]
        ]
    },
    {
        "id": "90ad05f6.38a858",
        "type": "ui_text",
        "z": "79ee283d.f3b4a8",
        "group": "9b93ab46.95af68",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1017.6000366210938,
        "y": 528.2000074386597,
        "wires": []
    },
    {
        "id": "cbaa35e0.493668",
        "type": "function",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "func": "msg.payload=msg.payload.values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 849.6000366210938,
        "y": 271.60000133514404,
        "wires": [
            [
                "90ad05f6.38a858",
                "8cb9aa0d.dc6f18"
            ]
        ]
    },
    {
        "id": "33a0a8d2.1bca38",
        "type": "debug",
        "z": "79ee283d.f3b4a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 360,
        "wires": []
    },
    {
        "id": "f823da53.196d98",
        "type": "ui_text",
        "z": "a4f122c1.57f99",
        "group": "4f891483.f8e0cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Death_1yr",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "eb048a0d.0dbe98",
        "type": "http request",
        "z": "a4f122c1.57f99",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "64b8b513.00ee4c"
            ]
        ]
    },
    {
        "id": "3829bf8d.b3f2",
        "type": "http request",
        "z": "a4f122c1.57f99",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v4/deployments/bb5d973a-080b-426f-8038-33de6f60b000/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 910,
        "y": 280,
        "wires": [
            [
                "806cc76b.01f5f8",
                "986be05a.0beb9"
            ]
        ]
    },
    {
        "id": "6de6d719.10d918",
        "type": "function",
        "z": "a4f122c1.57f99",
        "name": "Pre Token",
        "func": "global.set(\"di\",msg.payload.di)\nglobal.set(\"fcv\",msg.payload.fcv)\nglobal.set(\"fev1\",msg.payload.fev1)\nglobal.set(\"per\",msg.payload.per)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"dy\",msg.payload.dy)\nglobal.set(\"cou\",msg.payload.cou)\nglobal.set(\"wn\",msg.payload.wn)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"mi6\",msg.payload.mi6)\nglobal.set(\"pad\",msg.payload.pad)\nglobal.set(\"smk\",msg.payload.sml)\nglobal.set(\"ast\",msg.payload.ast)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"Vfj5WekgazxSdYdMHzmGOP8aXhfGG7Zx4cLgqCks_D6R\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "eb048a0d.0dbe98"
            ]
        ]
    },
    {
        "id": "806cc76b.01f5f8",
        "type": "function",
        "z": "a4f122c1.57f99",
        "name": "",
        "func": "msg.payload=msg.payload.predictions[0].values[0][1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "f823da53.196d98",
                "6dc8cdfe.7abbc4"
            ]
        ]
    },
    {
        "id": "64b8b513.00ee4c",
        "type": "function",
        "z": "a4f122c1.57f99",
        "name": "Pre Prediction",
        "func": "var di = global.get('di')\nvar fcv = global.get('fcv')\nvar fev1 = global.get('fev1')\nvar per = global.get('per')\nvar pa = global.get('pa')\nvar he = global.get('he')\nvar dy = global.get('dy')\nvar cou = global.get('cou')\nvar wn = global.get('wn')\nvar ts = global.get('ts')\nvar dm = global.get('dm')\nvar mi6 = global.get('mi6')\nvar pad = global.get('pad')\nvar smk = global.get('smk')\nvar ast = global.get('ast')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"b3a411b6-1636-44d8-b539-7b3cebe85a79\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Diagnosis\", \"FVC\", \"FEV1\", \"Performance\", \"Pain\", \"Haemoptysis\", \"Dyspnoea\", \"Cough\", \"Weakness\", \"Tumor_Size\", \"Diabetes_Mellitus\", \"MI_6mo\", \"PAD\", \"Smoking\", \"Asthma\", \"Age\"], \"values\": [[di,fcv,fev1,per,pa,he,dy,cou,wn,ts,dm,mi6,pad,smk,ast,age]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "3829bf8d.b3f2"
            ]
        ]
    },
    {
        "id": "c392da6.5249a28",
        "type": "inject",
        "z": "a4f122c1.57f99",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "6de6d719.10d918"
            ]
        ]
    },
    {
        "id": "175f66b.1951199",
        "type": "ui_form",
        "z": "a4f122c1.57f99",
        "name": "",
        "label": "",
        "group": "4f891483.f8e0cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Diagnosis",
                "value": "di",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "FVC",
                "value": "fcv",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "FEV1",
                "value": "fev1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Performance",
                "value": "per",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Pain",
                "value": "pa",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Haemoptysis",
                "value": "he",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Dyspnoea",
                "value": "dy",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Cough",
                "value": "cou",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Weakness",
                "value": "wn",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Tumor_Size",
                "value": "ts",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diabetes_Mellitus",
                "value": "dm",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "MI_6mo",
                "value": "mi6",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "PAD",
                "value": "pad",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Smoking",
                "value": "smk",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Asthma",
                "value": "ast",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Age",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "di": "",
            "fcv": "",
            "fev1": "",
            "per": "",
            "pa": "",
            "he": "",
            "dy": "",
            "cou": "",
            "wn": "",
            "ts": "",
            "dm": "",
            "mi6": "",
            "pad": "",
            "smk": "",
            "ast": "",
            "age": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "6de6d719.10d918"
            ]
        ]
    },
    {
        "id": "6dc8cdfe.7abbc4",
        "type": "debug",
        "z": "a4f122c1.57f99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "986be05a.0beb9",
        "type": "debug",
        "z": "a4f122c1.57f99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1170,
        "y": 360,
        "wires": []
    }
]